![](../src/logo.svg)

**© Jesús López**

Ask him any doubt on **[Twitter](https://twitter.com/jsulopz)** or **[LinkedIn](https://linkedin.com/in/jsulopz)**

<a href="https://colab.research.google.com/github/jsulopz/resolving-machine-learning/blob/main/02_Decision%20Tree.%20A%20Supervised%20Classification%20Model/02_decision-tree_practice_solution.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# 02 | Decision Tree. A Supervised Classification Model

## Load the Data

Load the dataset from [CIS](https://www.cis.es/cis/opencms/ES/index.html) executing the lines of code below:
> - The goal of this dataset is
> - To predict `internet_usage` of **people** (rows)
> - Based on their **socio-demographical characteristics** (columns)

In [1]:
import pandas as pd #!

df_internet = pd.read_excel('../data/internet_usage_spain.xlsx', sheet_name=1)
df_internet

           name  internet_usage     sex  age    education
0      Josefina               0  Female   66   Elementary
1         Vicki               1    Male   72   Elementary
...         ...             ...     ...  ...          ...
2453  Christine               1    Male   31  High School
2454   Kimberly               0    Male   52   Elementary

[2455 rows x 5 columns]

## Data Preprocessing

1. The Python function to fit the model cannot process information as a string. Therefore, you need to convert **categorical variables to dummy variables**.
2. You need to check for **missing data** and drop it in case there are.

## `DecisionTreeClassifier()` Model in Python

### Fit the Model

In [5]:
from sklearn.tree import DecisionTreeClassifier

In [6]:
model_dt = DecisionTreeClassifier()

In [ ]:
model_dt.fit

In [2]:
df_internet

           name  internet_usage     sex  age    education
0      Josefina               0  Female   66   Elementary
1         Vicki               1    Male   72   Elementary
...         ...             ...     ...  ...          ...
2453  Christine               1    Male   31  High School
2454   Kimberly               0    Male   52   Elementary

[2455 rows x 5 columns]

### Calculate Predictions

In [ ]:
model_dt.

### Create a New DataFrame for the Predictions

### Visualize the Model

### Model Interpretation

### Model's Score

In [ ]:
model_dt.sco

In [ ]:
model_dt.

## Confusion Matrix

In [ ]:
from sklearn.metrics import con

### Classification Report

### Sensitivity (Recall=1)

### Specificity (Recall=0)

### ROC Curve

## `RandomForestClassifier()` in Python

### Fit the Model

### Calculate Predictions

### Model's Score

## `SVC()` in Python

### Fit the Model

### Calculate Predictions

### Model's Score

## Which One Is the Best Model? Why?

## Achieved Goals

_Double click on **this cell** and place an `X` inside the square brackets (i.e., [X]) if you think you understand the goal:_

- [ ] Understand how **the Decision Tree Algorithm** is just counting observations to determine the outcome.
- [ ] Another way to **compare real data with predictions** from the model.
- [ ] Not all model visualizations are equal.
    - A tree was visualized instead of an `scatterplot()` to interpret the model.
- [ ] Distinguish **probability's role** to optimize this type of models.
- [ ] Know how to determine **why a variable is important** in the model.
    - Why is it giving significant differences?
    - How does EDA helps us to see it?
- [ ] Understand the process of the algorithm to determine if we need to **normalize/scale** the data.

<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.